.helloween{
    width: 2000px;
    height: 1100px;
    position: relative;
}
.helloween img{
    width: 100%;
    height: 100%;
}
.pumpkin{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 200px;
    bottom: 100px;
    animation-name: pump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    z-index: 1;
}
.pumpkin img{
    width: 100%;
    height: 100%;
}
@keyframes pump {
    0%{
        bottom: 20px;
    }
    100% {
        right: 10px;
    }
}
.pumpkinbet{
    width: 300px;
    height: 200px;
    position: absolute;
    left: -100px;
    bottom: 400px;
    animation-name: bet;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 4;
}
.pumpkinbet img{
    width: 100%;
    height: 100%; 
}
@keyframes bet {
    from {
        left: -100px;
        top: 1100px;
    }
    to {
        left:1700px;
        top: 0px;
    }
}
.pumpkinman{
    width: 350px;
    height: 500px;
    position: absolute;
    right: 900px;
    bottom: 400px;
    animation-name: man;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    z-index: 2;
}
.pumpkinman img{
    width: 100%;
    height: 100%; 
}
@keyframes man {
    0% {
        left: 450px;
        transform: rotate(-30deg);
    }
    50% {
        bottom: 350px;
    }
    100%{
        left:1000px;
        transform: rotate(30deg);
    }
}
.pumpkingirl{
    width: 390px;
    height: 500px;
    position: absolute;
    left: 200px;
    bottom: 100px;
    animation-name: girl;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    z-index: 3;
}
.pumpkingirl img{
    width: 100%;
    height: 100%; 
}
@keyframes girl {
    from {
        top: 600px;
    }
    to {
        top: 0px;
    }
}
svg {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 10px;
    right: 1000px;
    transition: all 0.5s linear;
    z-index: 5;
}
svg:hover {
    background-color: white;
    border-radius: 100px;
    height: 150px;
    width: 150px;
}